.PLC_Combobox_Lable
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-line-width: 0;
	hw-text-color: white;
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Base_Combobox_Lable
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-line-width: 0;
	hw-text-color: white;
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 11pt;
}

.Combobox_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-line-width: 0;
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.TableInfo_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.PLC_Alpha_Lable
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-line-width: 0;
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}